<div class="container text-center">

<div class="row">

    <a routerLink="/detalle/1" class="col-sm-8 col-md-6 col-lg-3 my-5 mx-4 bg-primary rounded" >
        <div>
            <img src="./assets/imgs/personaUno.jpg" class="personaUno rounded">
            <h1>Raúl Romero Tenison</h1>
        </div>
    </a>

    <a routerLink="/detalle/2" class="col-sm-8 col-md-6 col-lg-3 my-5 mx-4 bg-primary rounded">
        <div>
            <img src="./assets/imgs/personaDos.jpg" class="personaUno rounded">
            <h1>Lorena Vega Cano</h1>
        </div>
    </a>

    <a routerLink="/detalle/3" class="col-sm-8 col-md-6 col-lg-3 my-5 mx-4 bg-primary rounded">
        <div>
            <img src="./assets/imgs/personaTres.jpg" class="personaUno rounded">
            <h1 class="tetres">Esteban Sánchez Mora</h1>
        </div>
    </a>

</div>