.bg-primary{
    background-color:rgb(130, 233, 209) !important;
}

.personaUno{
    margin-top: 1rem;
    align-items: center;
    width: 16rem;
    height: auto;
}

h1{
    margin-top: 2.5rem;
}

a{
    transition: all 0.2s;
}

a:hover{
    box-shadow: 0px 10px 9px rgb(208, 206, 206);
}

div .row{
    justify-content:space-around;
}

.row a {
    list-style: none;
    text-decoration: none;
    color: black;
}